<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= post.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image:</strong>
    <%= link_to post.image.filename, post.image, class: "text-gray-700 underline hover:no-underline" if post.image.attached? %>
  </div>
</div>
